#root {
  --bg-base: #f2f2f2;
  --bg-input: #ffffff;
  --bg-main: #3c9180;
  --bg-second: #dcf6ef;
  --text-main: #00414e;

  margin: 0 auto;
  text-align: center;
}
.App {
  color: var(--text-main);
  background-color: var(--bg-base);
}
form {
  min-height: 85vh;
}

/* HEADER */
.App h1 {
  margin: 0;
  padding: 2rem 0;

  font-weight: bold;
  font-size: 2rem;
  line-height: 1;

  background-color: var(--bg-main);
  color: var(--bg-second);
}

/* INPUTS */
.input {
  padding: 0.2rem;

  min-width: 1rem;

  font-size: 1rem;
  text-align: center;
  color: var(--text-main);
  background-color: var(--bg-input);

  border: solid 2px var(--text-main);
  border-radius: 5px;
}
.input:disabled {
  background-color: (var(--bg-base));
}
/* disable spin-buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* EQUATION INPUT*/
#integral-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 2rem 0;
}
#equation,
#result input {
  margin-right: 0.5rem;

  min-height: 4rem;
  min-width: clamp(1rem, 10rem + 20vw, 20rem);
  resize: none;
}
#integral .input {
  width: 3rem;

  border: none;
  background-color: var(--bg-base);
}
#integral {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#integral-input span {
  font-style: italic;
  font-size: 2rem;
}
#integral-sigh {
  font-size: 6rem !important;
  line-height: 1.2;
}
#lower-limit {
  /* Correction for the integral sigh */
  position: relative;
  top: -14px;
}

/* OPTIONS */
#options {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-items: center;
  gap: 1rem;

  max-width: 60vw;
}
#step,
#precision {
  width: 3rem;
  margin-left: 0.5rem;
}
#options label {
  display: grid;
  grid: 1fr 1fr / 1fr;
  justify-items: center;
}

/* SOLVE BUTTON */
#solve-btn {
  margin: 2rem 0;
  padding: 0.2rem 2rem;

  font-size: 2rem;
  color: var(--bg-second);

  background-color: var(--bg-main);
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 5px 0px var(--text-main));
  transition-duration: 0.1s;
}
#solve-btn:active {
  filter: none;
  transform: translateY(5px);
}

/* FOOTER */
footer {
  color: var(--bg-main);
  background-color: var(--bg-second);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
