#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #BDCF47);
}

.card {
  padding: 2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.count-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.count-btn:hover {
  border-color: #6E823A;
}

.count-btn:focus,
.count-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
