#root {
  --bg-base: #f2f2f2;
  --bg-input: #ffffff;
  --bg-main: #3c9180;
  --bg-second: #dcf6ef;
  --text-main: #00414e;

  margin: 0 auto;
  text-align: center;
}
.layout {
  color: var(--text-main);
  background-color: var(--bg-base);
}

/* HEADER */
.layout h1 {
  margin: 0;
  padding: 2rem 0;

  font-weight: bold;
  font-size: 2rem;
  line-height: 1;

  background-color: var(--bg-main);
  color: var(--bg-second);
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 6rem;
}
.navbar a {
  color: var(--text-main);
  text-decoration: none;
}
.navbar ul {
  display: grid;
  gap: 1rem;
  max-width: 200px;
}
.navbar li {
  list-style: none;
}
.nav-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-input);
  border: solid 2px var(--text-main);
  border-radius: 5px;
}
.nav-item:active {
  background-color: var(--bg-base);
}

/* FOOTER */
footer {
  color: var(--bg-main);
  background-color: var(--bg-second);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
