#root {
  --bg-base: #f2f2f2;
  --bg-input: #ffffff;
  --bg-main: #3c9180;
  --bg-second: #dcf6ef;
  --text-main: #00414e;

  margin: 0 auto;
  text-align: center;
}
.layout {
  color: var(--text-main);
  background-color: var(--bg-base);
}
form {
  min-height: 85vh;
}

/* HEADER */
.layout h1 {
  margin: 0;
  padding: 2rem 0;

  font-weight: bold;
  font-size: 2rem;
  line-height: 1;

  background-color: var(--bg-main);
  color: var(--bg-second);
}

/* FOOTER */
footer {
  color: var(--bg-main);
  background-color: var(--bg-second);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
